$text-color:#d4e8c8;
$bg-color:#21242e;
$core-color:rgba(142, 29, 67, 0.7);
$font1:'Josefin Sans', sans-serif;
$font2:'Noto Sans JP', sans-serif;
$font3:'Cutive Mono', monospace;
$thumbnail-width:50vw;
$list-width_1:22vw;
$list-width_2:30vw;

html{
    cursor: none;
    font-size: 10px;
}
@media screen and (min-width:481px){
    #cursor,#follower{
        border-radius: 50%;
        position: fixed;
        cursor: none;
        transform: translate(0,0);
        pointer-events: none; //他の要素がクリックできなくならないように
    }
    #cursor {
        width: 14px;
        height: 14px;
        top: -7px; //中心を半径分ずらす
        left: -7px;
        background-color: $text-color;
        z-index: 1001; //どの要素よりも一番上になるようにする
      }
       
    #follower {
        width: 30px;
        height: 30px;
        top: -15px;
        left: -15px;
        transition: transform 0.5s;
        // transition-timing-function: ease-out;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1.0);
        background-color: $core-color;
        z-index: 1000; //カーソルの次に上になるようにする
        &.hov_{
            top: -32px;     
            left: -32px;
            width: 64px;
            height: 64px;
            
        }
    }
}
@media screen and (max-width:767px){
    #cursor,#follower{
        display: none;
    }
}
.content{
    display: none;
    -webkit-overflow-scrolling: scroll;
}
header{
    @media screen and (min-width:481px){
        width: 100vw;
        height: 64px;
        position: fixed;
        top: 0;
        background-color: $bg-color;
        z-index: 10;
        ul{
            text-align: right;
            list-style: none;
            margin: 1% 5%;
            li{
                font-family: $font1;
                font-size: 2.8rem;
                display: inline-block;
                padding: 10px 15px 3px;
                margin: 0 10px;
                position: relative;

                &:before{
                    content: "";
                    position: absolute;
                    width: 0;
                    background : $text-color;
                    left: 50%;
                    height: 2px;
                    bottom: 0;
                    transform-origin: 50%;
                    transition: all .3s;
                }
                &:hover:before{
                    width: 100%;
                    left:0;
                }
            }
        }
    }
    @media screen and (max-width:480px){
        width: 100vw;
        height: 36px;
        position: fixed;
        top: 0;
        background-color: $bg-color;
        z-index: 10;
        ul{
            text-align: right;
            list-style: none;
            margin: 1% 5%;
            li{
                font-family: $font1;
                font-size: 16px;
                display: inline-block;
                padding: 10px 3px 5px;
                margin: 2px 5px;
                position: relative;

                &:before{
                    content: "";
                    position: absolute;
                    width: 0;
                    background : $text-color;
                    left: 50%;
                    height: 2px;
                    bottom: 0;
                    transform-origin: 50%;
                    transition: all .3s;
                }
                &:hover:before{
                    width: 100%;
                    left:0;
                }
            }
        }
    }
}
#defaultCanvas0{
    top: 0;
    display: block;
    position: fixed;
}

a{
    cursor: none;
    color:$text-color;
    text-decoration:none; 
}

#title{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: relative;
    text-align: center;
    #my-name{
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        font-family: $font3;
        @media screen and (min-width:481px){
            width: 60vw;
            height: 8vw;
            font-size: 6vw;
        }
        @media screen and (max-width:480px){
            width: 80vw;
            height: 6vw;
            font-size: 36px;
        }
        color: white;
    }
    p{
        @media screen and (min-width:481px){
            font-size: 2.5rem;
            bottom: 0;
        }
        @media screen and (max-width:480px){
            font-size: 18px;
            bottom: 60px;
        }
        margin: auto;
        position: absolute;
        color: $text-color;
        left: 0;
        right: 0;
        font-family: $font1;
        img{
            margin: 2vw 0;
            width: 2%;
        }
    }
}

h1{
    @media screen and (min-width:481px){
        height: 12vh;
        text-align: center;
        color:$text-color;
        font-size: 3.6vw;
        font-family: $font1;
    }
    @media screen and (max-width:480px){
        height: 12vw;
        text-align: center;
        color:$text-color;
        font-size: 6vw;
        font-family: $font1;
    }

}
.works-wrap{
    padding: 10vw 0;
}
.works-list{
    width: 80vw;
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    &::after{ //空の擬似要素を追加して左寄せに
        content:"";
        display: block;
        width:30%;
    }
    li{
        background-color:white;
        @media screen and (min-width:1024px){
            width:$list-width_1;
            height: 10*$list-width_1/16;
            margin: 2% 2%;
        }
        @media screen and (max-width:1023px){
            width:$list-width_2;
            height: 10*$list-width_2/16;
            margin: 3% 3%;
        }
        @media screen and (max-width:480px){
            width: 80vw;
            height: calc(10*80vw/16);
            margin: 6vw 0;
        }
        
        position: relative;
        img{
            object-fit: cover;
            width:100%;
            height: 100%;
        }
        .works-caption{
            width: 100%;
            height: 30%;
            position: absolute;
            bottom: 0;
            background-color: rgba($color:#6a7667, $alpha: 0.7);
            color: $text-color;
            font-family: $font1;
            @media screen and (min-width:1024px){
                font-size: 2.1vw;
            }
            @media screen and (max-width:1023px){
                font-size: 3vw;
            }
            @media screen and (max-width:480px){
                font-size: 7vw;
            }
            .tytle-jp{
                line-height: 100%;
            }
            h4{
                margin-top: 3%;
                font-size: 0.9em;
            }
            p{
                font-size: 0.7em;
                line-height: 70%;
            }
        }
    }
}
.about-wrap{
    @media screen and (min-width:481px){
        padding-top :8vw;
        padding-bottom: calc(160px - 3vw);
    }
    @media screen and (max-width:480px){
        padding: 30px 0;
    }
    .self-introduction{
        display: inline-block;
        width: 100%;
        color: $text-color;
        @media screen and (min-width:1024px){
            font-size: 2vw;
        }
        @media screen and (max-width:1023px){
            font-size: 2.5vw;
        }
        @media screen and (min-width:481px){
            .left-side{
                width: 18vw;
                margin: 3% 15vw;
                float: left;
                p{
                    font-size: 0.55em;
                    font-family: $font2;
                }
            }
            .right-side{
                width: 18vw;
                margin: 3% 15vw;
                float:right;
                font-family: $font1;
                h3{
                    padding-bottom: 6% ;
                    font-size: 1.2em;
                }
                p,a{
                    line-height: 110%;
                    padding-bottom: 12%;
                    font-size: 0.8em;

                }
            }
        }
        @media screen and (max-width:480px){
            padding-bottom: 60px;
            text-align: center;
            background-color:rgba($bg-color,0.6);
            
            .left-side{
                
                width: 70vw;
                left: 0;
                right: 0;
                margin: 0 auto;
                p{
                    padding: 10px 0;
                    font-size: 14px;
                    font-family: $font3;
                }
            }
            .right-side{
                width: 80vw;
                left: 0;
                right: 0;
                margin: 0 auto;
                font-family: $font1;
                h3{
                    font-size: 18px;
                    padding: 5px 0;
                }
                p,a{
                    line-height: 1.6em;
                    padding: 10px 0;
                    font-size: 14px;
    
                }
            }
        }
    }
}

//以下worksページ
@media screen and (min-width:481px){
    .work-left{
        position: fixed;
        width: 22vw;
        height: 100vh;
        left: 0;
        margin:auto 12vw; 
        display: flex;
        justify-content: center;
        align-items: center;
        .work-details{
            color: $text-color;
            position: absolute;
            width: 100%;
            // padding-top: 120px;
            font-family: $font1;
            
            h2{
                font-size: 3vw;
            }
            h3{
                font-size: 2.5vw;
            }
            h4{
                font-size: 2.5vw;
                margin: 2vh 0;
                line-height: 110%;
            }
            p{
                font-size: 1.2vw;
                
                margin: 0.7vh 0;
                font-family: $font1, $font3;
            }
        }
    }
    
    .work-thumbnail-list{
        width: 50vw;
        // margin-top: 20vh;
        // margin-bottom: 10vh;
        // margin-right: 10vh;
        margin: 10vw 5vw;
        display: flex;
        flex-direction: column;
        float: right;
        list-style: none;
        .work-thumbnail{
            border-style: solid;
            border-color:$text-color;
            border-width: 0.1vw;
            width: $thumbnail-width;
            height: 9*$thumbnail-width/16;
            margin: 2vw 0;
            img,iframe{
                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
        } 
    }
}
@media screen and (max-width:480px){
    .work-details{
        background-color:rgba($bg-color,0.6);
        color: $text-color;
        // position: fixed;
        width: 75vw;
        margin:auto;
        padding-top: 60px;
        padding-bottom: 16px;
        left: 0;
        right: 0;
        font-family: $font1;
        h2{
            font-size:  8vw;
            margin: 5px 0;
        }
        h3{
            font-size: 5vw;
        }
        h4{
            font-size: 4.2vw;
            line-height: 120%;
        }
        p{
            font-size: 3vw;
            margin: 5px 0;
            font-family: $font1, $font3;
            font-weight: 300;
        }
    }
    .work-thumbnail-list{
        position: absolute;
        width: 80vw;
        left: 0;
        right: 0;
        margin: 20px auto 60px;
        bottom: 0;
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-snap-align:center;
        list-style: none;
        .work-thumbnail{
            border-style: solid;
            scroll-snap-align:center;
            border-color:$text-color;
            border-width: 1px;
            width: 70vw;
            height: calc(9*70vw/16);
            // left: 0;
            // right: 0;
            margin: 0 5px;
            img,iframe{
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
                
            }
        } 
    }
}




.barba-leave-active,
.barba-enter-active {
  transition: opacity 450ms ease;
}

/* initial state */
.barba-leave {
  opacity: 1;
}

.barba-enter {
  opacity: 0;
}

/* ending state */
.barba-leave-to {
  opacity: 0;
}

.barba-enter-to {
  opacity: 1;
}
