html {
  cursor: none;
  font-size: 10px;
}

#cursor, #follower {
  border-radius: 50%;
  position: fixed;
  cursor: none;
  transform: translate(0, 0);
  pointer-events: none;
}

#cursor {
  width: 14px;
  height: 14px;
  top: -7px;
  left: -7px;
  background-color: #d4e8c8;
  z-index: 1001;
}

#follower {
  width: 30px;
  height: 30px;
  top: -15px;
  left: -15px;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  background-color: rgba(142, 29, 67, 0.7);
  z-index: 1000;
}

#follower.hov_ {
  top: -32px;
  left: -32px;
  width: 64px;
  height: 64px;
}

.content {
  display: none;
}

header {
  width: 100vw;
  height: 64px;
  position: fixed;
  top: 0;
  background-color: #21242e;
  z-index: 10;
}

header ul {
  text-align: right;
  list-style: none;
  margin: 1% 5%;
}

header ul li {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.8rem;
  display: inline-block;
  padding: 10px 15px 3px;
  margin: 0 10px;
  position: relative;
}

header ul li:before {
  content: "";
  position: absolute;
  width: 0;
  background: #d4e8c8;
  left: 50%;
  height: 2px;
  bottom: 0;
  transform-origin: 50%;
  transition: all .3s;
}

header ul li:hover:before {
  width: 100%;
  left: 0;
}

#defaultCanvas0 {
  top: 0;
  display: block;
  position: fixed;
}

a {
  cursor: none;
  color: #d4e8c8;
  text-decoration: none;
}

#title {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: relative;
  text-align: center;
}

#title #my-name {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60vw;
  height: 16vh;
  display: inline-block;
  position: absolute;
  font-family: "Cutive Mono", monospace;
  font-size: 6vw;
  color: white;
}

#title p {
  margin: auto;
  position: absolute;
  color: #d4e8c8;
  bottom: 4vh;
  left: 0;
  right: 0;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
}

#title p img {
  margin: 2vh 0;
  width: 2vw;
}

h1 {
  height: 13vh;
  text-align: center;
  color: #d4e8c8;
  font-size: 4.5rem;
  font-family: "Josefin Sans", sans-serif;
}

.works-wrap {
  padding: 12vh 0;
}

.works-list {
  width: 80vw;
  display: flex;
  text-align: center;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.works-list li {
  background-color: white;
  width: 20vw;
  height: 12.5vw;
  margin: 5% 3%;
  position: relative;
}

.works-list li img {
  width: 20vw;
  height: 12.5vw;
  object-fit: cover;
}

.works-list li .works-caption {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  background-color: rgba(106, 118, 103, 0.7);
  color: #d4e8c8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 10px;
}

.works-list li .works-caption .tytle-jp {
  line-height: 100%;
}

.works-list li .works-caption h4 {
  margin-top: 2%;
  font-size: 2.1vw;
}

.works-list li .works-caption p {
  font-size: 1.3vw;
  line-height: 70%;
}

.about-wrap {
  padding-top: 12vh;
  padding-bottom: 10vh;
}

.about-wrap .self-introduction {
  display: inline-block;
  width: 100%;
  color: #d4e8c8;
}

.about-wrap .self-introduction .left-side {
  width: 18vw;
  margin: 3% 15vw;
  float: left;
}

.about-wrap .self-introduction .left-side p {
  font-size: 1.2vw;
  font-family: "Noto Sans JP", sans-serif;
}

.about-wrap .self-introduction .right-side {
  width: 18vw;
  margin: 3% 15vw;
  float: right;
  font-family: "Josefin Sans", sans-serif;
}

.about-wrap .self-introduction .right-side h3 {
  padding-bottom: 6%;
  font-size: 3rem;
}

.about-wrap .self-introduction .right-side p, .about-wrap .self-introduction .right-side a {
  padding-bottom: 12%;
  font-size: 1.7vw;
}

.work-details {
  color: #d4e8c8;
  position: fixed;
  width: 22vw;
  margin: auto 12vw;
  top: 22vh;
  font-family: "Josefin Sans", sans-serif;
}

.work-details h2 {
  font-size: 3vw;
}

.work-details h3 {
  font-size: 2.5vh;
}

.work-details h4 {
  font-size: 3vh;
  margin: 2vh 0;
  line-height: 2.5vh;
}

.work-details p {
  font-size: 2vh;
  margin: 0.7vh 0;
}

.work-thumbnail-list {
  width: 50vw;
  margin-top: 20vh;
  margin-bottom: 10vh;
  margin-right: 10vh;
  display: flex;
  flex-direction: column;
  float: right;
  list-style: none;
}

.work-thumbnail-list .work-thumbnail {
  border-style: solid;
  border-color: #d4e8c8;
  border-width: 0.1vw;
  width: 50vw;
  height: 28.125vw;
  margin: 5vh 0;
}

.work-thumbnail-list .work-thumbnail img, .work-thumbnail-list .work-thumbnail iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.barba-leave-active,
.barba-enter-active {
  transition: opacity 450ms ease;
}

/* initial state */
.barba-leave {
  opacity: 1;
}

.barba-enter {
  opacity: 0;
}

/* ending state */
.barba-leave-to {
  opacity: 0;
}

.barba-enter-to {
  opacity: 1;
}
